{% extends "admin_layout.njk" %}

{% block content %}

  <div id="error-card" class="admin">
    <div class="info">
      <h1>ERROR</h1>
      <p><br>{{error}}</p>
      <p><br><a href="#" onclick="history.back()" ><b>Go back</b></a> and try again</p>
    </div>
    <div class="image">
      <img src="/img/chef-sad.png" alt="Chef Ilustration">
    </div>
  </div>

{% endblock %}