{% extends "admin_layout.njk" %}

{% block content %}

<div class="delete-container">
  <form class="admin-delete-form" action="/admin/chefs?_method=DELETE" method="POST">
    <input type="hidden" name="id" value="{{ chef.id }}">
    <button type="submit">Delete</button>
  </form>
</div>

<form class="admin-form" action="/admin/chefs?_method=PUT" method="POST">

  <div class="admin-top-bar">
        <h1>Edit Chef: {{chef.name}}</h1>
        <button type="submit">Save chef</button>
  </div>

  {% include 'admin/chefs/fields.njk'%}

  <input type="hidden" name="id" value="{{ chef.id }}">

</form>


{% endblock %}