<div class="item">
  <div>Avatar Photo</div>
    <div class="avatar-upload">
      <i class="material-icons">add</i>
      <input 
        id="img-input"
        type="file" 
        name="avatar"
        accept="image/*"
        onchange="AvatarUpload.previewUpload(event)"
      >
    </div>
</div>

<div class="item">
  <div>Chef Name</div>
  <div>
    <input 
      type="text" 
      name="name"
      value="{{chef.name}}"
    >
  </div>
</div> 