<div class="item">
  <div>Avatar Photo</div>
    {% if chef.avatar %}
      <div class="avatar-upload">
        <img src="{{chef.avatar}}" alt="{{chef.name}} - avatar" id="avatar-img">
        <i class="material-icons active">swap_horiz</i>
        <input 
          id="img-input"
          type="file" 
          name="avatar"
          accept="image/*"
          onchange="AvatarUpload.previewUpload(event)"
        >
      </div>
    {% else %}
      <div class="avatar-upload">
        <img src="/img/blank-avatar.png" alt="Avatar image" id="avatar-img">
        <i class="material-icons">add</i>
        <input 
          id="img-input"
          type="file" 
          name="avatar"
          accept="image/*"
          onchange="AvatarUpload.previewUpload(event)"
        >
      </div>
    {% endif %}
    
</div>


<div class="item">
  <div>Chef Name</div>
  <div>
    <input 
      type="text" 
      name="name"
      value="{{chef.name}}"
    >
  </div>
</div> 