{% extends "admin_layout.njk" %}

{% block content %}

<div class="admin-top-bar">
      <h1>Manage chefs</h1>
      <a href="/admin/chefs/create">New chef</a>
</div>

<div class="chefs-grid admin">
  {% for chef in chefs %}
    <div class="card admin" id="{{chef.id}}">
      <div class="img-container">
        <div class="card-image">
          <img src="{{chef.avatar}}" alt="{{chef.name}} - thumbnail">
        </div>
      </div>
      <div class="card-info admin">
        <p>{{chef.name}}</p>
        <a href="/admin/chefs/{{chef.id}}">View</a>
      </div>
    </div>
  {% endfor %}

</div>

{% endblock %}