{% extends "admin_layout.njk" %}

{% block content %}

<div class="full-chef">

    <div class="admin-top-bar">
      <h1>Chef: {{chef.name}}</h1>
      {% if admin %}
        <a href="/admin/chefs/{{chef.id}}/edit">Edit Chef</a>
      {% endif %}
    </div>

    <div class="img-container chef">
        <div class="card-image">
          <img src="{{chef.avatar}}" alt="{{chef.name}} - avatar photo">
        </div>
    </div>

    <div class="chef-info">
      <h1>{{chef.name}}</h1>
      <p class="total-recipes">
        {{chef.total_recipes}} 
        {% if chef.total_recipes == 1 %} Recipe {% else %} Recipes {% endif %}
      </p>
    </div>
      
    <h2>Recipes</h2>

    <div class="recipe-grid admin">

      {% for recipe in recipes %}
    
        <div class="card admin" id="{{recipe.id}}">
          <div class="img-container">
            <div class="card-image">
              <div class="card-image"><img src="{{recipe.cardImage}}" alt="{{recipe.title}} - thumbnail"></div>
            </div>
          </div>
          <div class="card-info admin">
            <p>{{recipe.title}}</p>
            <p class="author admin">by {{chef.name}}</p>
            <a href="/admin/recipes/{{recipe.id}}">View</a>
          </div>
        </div>

      {% endfor %}
    
    </div>

</div>

{% endblock %}