{% extends "admin_layout.njk" %}

{% block content %}

<div class="full-chef">

    <div class="admin-top-bar">
      <h1>Chef: {{chef.name}}</h1>
      <a href="/admin/chefs/{{chef.id}}/edit">Edit Chef</a>
    </div>

    <div class="img-container chef">
        <div class="card-image" style="background-image: url({{chef.avatar_url}})"></div>
    </div>

    <div class="chef-info">
      <h1>{{chef.name}}</h1>
      <p class="total-recipes">{{chef.id}} Recipes</p>  <! –– CHANGE LATER ––>
    </div>
      
    <h2>Recipes</h2>

    <div class="recipe-grid admin">
    
    <div class="card admin" id="Receita 1">
      <div class="img-container">
        <div class="card-image" style="background-image: url(https://images-gmi-pmc.edge-generalmills.com/b194a6a7-da60-4ad4-bc86-6e697db2fcf2.jpg)"></div>
      </div>
      <div class="card-info admin">
        <p>Teste de Espagueti</p>
        <p class="author admin">by {{chef.name}}</p>
        <a href="#">View</a>
      </div>
    </div>
    
    </div>

</div>

{% endblock %}