.admin-delete-form button,
.admin-top-bar button,
.admin-top-bar a{
  text-decoration: none;
  font-weight: bold;
  color:white;
  font-size: 16px;
  padding: 8px 20px;
  background-color: var(--color-primary);
  border-radius: 4px;
  cursor: pointer;
}

/* ======================== ADMIN HEADER ========================= */

#black-bar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: var(--color-darkest);
  z-index: -2;
}

header.admin{
  height: 80px;
  margin: 0;
  margin-bottom: 50px;
}

header.admin nav a{
  font-weight: bold;
  color: var(--colot-grey2);
}

header.admin nav a.active{
  color: white;
}

header.admin img{
  filter: invert(1);
}

/* ======================== ADMIN GENERAL ======================== */

.admin-top-bar{
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-bottom: 30px;
}

.admin-top-bar h1{
  font-size: 24px;
}

.admin-top-bar.user{
  grid-template-columns: 1fr auto auto;
  gap: 16px;
}

/* ======================== ADMIN Recipes ======================== */

.recipe-grid.admin{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
}

.card.admin{
  display: grid;
  grid-template-columns: 7fr 10fr;
  gap: 20px;
  cursor: initial;
}

.card.admin .img-container{
  border-radius: 8px;
  padding-bottom: 0;
}

.card-info.admin p.author{
  margin-top: 8px;
}

.card-info.admin a,
.admin-form .item a{
  text-decoration: none;
  display: block;
  margin-top: 8px;
  color: var(--color-primary);
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

/* ========================= ADMIN CHEFS ========================= */

.card.admin .img-container.avatar{
  border-radius: 50%;
}




/* ========================= ADMIN FORMS ========================= */

.admin-form{
  width: 100%;
  margin-bottom: 50px;
}

.admin-form .item {
  margin-bottom: 30px;
}

.admin-form input,
.admin-form textarea,
.admin-form select{
  width: 100%;
  border: 1px solid var(--color-light-grey);
  border-radius: 4px;
  height: 49px;
  line-height: 20px;
  font-size: 16px;
  padding-left: 16px;
  box-sizing: border-box;
}

.admin-form select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  background: url(/img/arrow_drop_menu.svg) 99% / 4% no-repeat;
}

.admin-form textarea{
  resize: none;
  height: 258px;
}

.admin-form .item div:nth-child(1){
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  margin-bottom: 10px;
}

.admin-form .item div:nth-child(2){
  color: var(--color-dark-grey);
}

.admin-form .item a {
  display: inline-block;
  width: 10em;
  margin-right: 16px;
}

.admin-form .item .ingredient,
.admin-form .item .step {
  margin-bottom: 10px;
}

.delete-container{
  position: relative;
  width: 100%;
}

.admin-delete-form{
  position: absolute;
  left: 0;
  right: 140px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "blank delete";
}

.admin-delete-form button{
  background-color: #DC4747;
  grid-area: delete;
}

/* ======================== IMAGE UPLOAD ========================= */

form .upload-grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 150px;
  grid-gap: 10px;
}

form .upload-grid .img-upload{
  border: 1px solid var(--color-light-grey);
  border-radius: 3.5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
}

form .upload-grid .img-upload input{
  cursor: pointer;
  border: 0;
}

form .upload-grid .img-upload .material-icons,
form .avatar-upload .material-icons{
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 32px;
  color: var(--colot-grey2);
  display: block;
  overflow: hidden;
}

form .item #img-input{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  padding: 0px;
}

.photo{
  width: 100%;
  overflow: hidden;
  height: 150px;
  border-radius: 3.5px;
  position: relative;
}

.photo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo i {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.85);

  color: red;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 38px;
  cursor: pointer;

  transition: opacity 200ms;

  opacity: 0;
  
}

.photo:hover i {
  opacity: 1;
}

/* ======================== AVATAR UPLOAD ========================= */


form .avatar-upload{
  margin-top: 22px;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid var(--color-light-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  transition: filter 0.3s ease-in-out;
}

form .avatar-upload.active:hover{
  filter: grayscale(1) brightness(75%);
}

form .avatar-upload .material-icons.active{
  opacity: 0;
  color: white;
  transition: opacity  0.3s ease-in-out ;
  font-size: 40px;
}

form .avatar-upload:hover .material-icons.active{
  opacity: 1;
}

/* =========================  USER FORMS  ========================= */

.admin-top-bar.user a{
  background-color: #8A8A8A;
}

.admin-delete-form.user{
  right: 94px;
}

.admin-form .user-fields{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 40px;
}

.admin-form .user-fields .item{
  margin: 0;
}

.admin-form .user-fields .item.checkbox{
  display: grid;
  grid-template-columns: 15px 1fr;
  height: 19px;
  align-items: center;
}

.admin-form .user-fields .item.checkbox div:nth-child(1){
  margin-bottom: 0;
}

.admin-form .user-fields .item.checkbox div:nth-child(2){
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  margin-left: 8px;
}

.admin-form .user-fields .item.checkbox input{
height: initial;
line-height: initial;
}

button.logout{
  background-color: initial;
  position: absolute;
  right: 50px;
  top: 24px
}

/* =========================  USER LIST  ========================= */

.users-grid{
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  justify-content: space-between;
  gap: 50px 0;
}

.card-user{
  font-size: 14px;
}

.card-user h2{
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 4px;
}

.card-user p{
  color: var(--color-grey);
}

.card-user .manage-user{
  margin-top: 16px;
}

.card-user .manage-user a{
  text-decoration: none;
  font-weight: bold;
}

.card-user .manage-user a:nth-child(1){
  color: var(--color-primary);
}

.card-user .manage-user a:nth-child(2){
  margin-left: 16px;
  color: var(--color-red);
}

/* =====================  USER FORM ERROR  ======================= */

.item .not-passed input:focus{
  outline: none;
  border-color: red;
}

.input .field-error {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: -24px;
  color: white !important;
  text-align: center;
  background-color: #e74c3c;
  padding: 4px;
  border-radius: 4px;
}

