@keyframes hidemessage{
  99% {
    top: -50px;
    opacity: 0;
  }
  100% {
    top: -1000px;
  }
}

.messages {
  display: flex;
  justify-content: center;
  padding: 50px 40px;
  position: absolute;
  right:18px;
  top:12px;
  color: white;
  opacity: 1;
  border-radius: 4px;
  z-index: 99;

  animation: hidemessage 400ms 5s ease-out forwards;
}

.messages.error{
  background-color: #e74c3c;
}

.messages.success{
  background-color: rgb(122, 182, 30);
}

.messages.alert{
  background-color: #e2c20a;
}