.session-header{
  display: block;
  text-align: center;
  margin-top: 36px;
}

.admin-form.session{
  margin: 0 auto;
  margin-top: 110px;
  max-width: 500px;
}

.admin-form.session h1{
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 36px;
}

.admin-form.session .login-options{
  display: grid;
  grid-template-columns: 1fr auto;
}

.admin-form.session button{
  right: 0;
  text-decoration: none;
  font-weight: bold;
  color:white;
  font-size: 16px;
  padding: 8px 20px;
  background-color: var(--color-primary);
  border-radius: 4px;
  cursor: pointer;
}

.admin-form.session a.forgot-password{
  color: #969696;
  text-decoration: none;
  font-weight: bold;
}

.admin-form.session .item.error input{
  border-color: #ff3131;
}
