{% extends "layout.njk" %}

{% block content %}

<main>
  <div class="recipe-list">

    {% for recipe in recipeList %}

      <div class="card" id="{{ loop.index0 }}">
        <img src="{{recipe.image}}" alt="image {{recipe.title}}">
        <div class="card-info">
          <p>{{recipe.title}}</p>
          <p class="author">by {{recipe.author}}</p>
        </div>
      </div>

    {% endfor %}

  </div>
</main>

<script src="/scripts.js"></script>

{% endblock %}