{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">
  <table>

    <thead>
      <tr>
        <th>Teacher</th>
        <th>Teaching Areas</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      {% for teacher in teachers %}
      <tr>
        <td>
          <span style="background-image: url({{teacher.avatar_url}})"></span>
          {{teacher.name}}
        </td>
        <td>
          {% for area in teacher.teaching_area %}
            <span class="teaching-area">{{area}}</span>
          {% endfor %}
        </td>
        <td><a href="/teachers/{{teacher.id}}">Open</a></td>
      </tr>
      {% endfor %}
    </tbody>
  
  </table>
</div>

{% endblock content %}