{% macro main(title,admin)%}

  <head>
    <meta charset="UTF-8">
    <meta name="description" content="recipe website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
      <title>{{title}}</title>
    {% endblock %}
    <link rel="stylesheet" href="/styles/index.css">
    {% if admin != 0 %}
      <link rel="stylesheet" href="/styles/admin.css">
      <link rel="stylesheet" href="/styles/session.css">
    {% endif %}
  </head>

{% endmacro %}