{% import "parts/head.njk" as head %}

<!DOCTYPE html>
<html lang="en">

{{head.main('Foodfy', 1)}}

<body>

{% include "parts/messages.njk" %}

  <div id="wrapper">
    <div id="black-bar"></div>
    <header class="admin">
      <a href="/"><img src="/img/logo.png" alt="Foodfy Logo"></a>
      <nav>
        <a href="/admin/recipes">Recipes</a>
        <a href="/admin/chefs">Chefs</a>
        <a href="/admin/users">Users</a>
      </nav>
        <form action="/admin/logout" method="post">
          <button class='logout'>Exit</button>
        </form>
    </header>

    <main>
      {% block content %} {% endblock%}
    </main>

  </div>

<script src="/scripts/scripts.js"></script>
<script src="/scripts/form-validation.js"></script>

</body>

</html>