{% import "parts/head.njk" as head %}

<!DOCTYPE html>
<html lang="en">

{{head.main('Foodfy', 0)}}

<body>

  <div id="wrapper">
    <header>
      <a href="/"><img src="/img/logo.png" alt="Foodfy Logo"></a>
      <nav>
        <a href="/about">About</a>
        <a href="/recipes">Recipes</a>
        <a href="/chefs">Chefs</a>
      </nav>
      <form action="/recipes" method="GET">
        <input 
          type="text"
          name="filter"
          placeholder="Search a recipe"
          value={{filter}}
        >
        <button type="submit">Search</button>
      </form>
    </header>

    <main>
      {% block content %} {% endblock%}
    </main>

  </div>

  <footer>
    <p>All rights reserved to Foodfy</p>
  </footer>

  <script src="/scripts.js"></script>

</body>

</html>