{% extends "admin_layout.njk" %}

{% block content %}

<form class="admin-form" action="/admin/users" method="POST">

  <div class="admin-top-bar user">
        <h1>Create User</h1>
        <button type="submit">Save</button>     
        <a href="/admin/users">Cancel</a>
  </div>

  <div class="user-fields">
    {% include 'admin/users/fields.njk'%}
  </div>

</form>


{% endblock %}