{% extends "admin_layout.njk" %}

{% block content %}

<div class="delete-container">
  <form class="admin-delete-form user" action="/admin/users?_method=DELETE" method="POST">
    <input type="hidden" name="id" value="{{ recipe.id }}">
    <button type="submit">Delete</button>
  </form>
</div>

<form class="admin-form" action="/admin/users?_method=PUT" method="POST">

  <div class="admin-top-bar">
        <h1>Edit User</h1>
        <button type="submit">Save</button>     
  </div>

  <div class="user-fields">
    {% include 'admin/users/fields.njk'%}
  </div>

</form>


{% endblock %}