<div class="item">
  <div>Name</div>
  <div class="input">
    <input 
      type="text" 
      name="name"
      placeholder="Type the user full name"
      value="{{user.name}}"
      onkeydown="Validate.apply(this, 'isName')"
      onblur="Validate.apply(this, 'isName', true)"
    >
  </div>
</div> 

<div class="item">
  <div>Email</div>
  <div class="input">
    <input 
      type="email" 
      name="email"
      placeholder="Type your email"
      value="{{user.email}}"
      onkeydown="Validate.apply(this, 'isEmail')"
      onblur="Validate.apply(this, 'isEmail', true)"
    >
  </div>
</div> 

<div class="item checkbox">
  <div class="input">
    <input 
      type="checkbox" 
      name="admin"
      value="1"
    >
  </div>
  <div>Administrator</div>
</div> 