@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

:root {
  --color-1: #1c1f4c;
  --color-2: #00848c;
  --color-3: #037272;
  --color-4: #fccf17;
  --color-5: #fec20f;

  --color-darkest-text: #111111;
  --color-dark-text: #333333;
  --color-medium-text: #555555;
  --color-light-text: #999999;
  --color-lightest-text: #BBBBBB;

  --color-coolwhite: #fdfdfe;
  --color-coolgrey: #f6f5fb;
}

*{
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: var(--color-3);
  color: var(--color-darkest-text);
  font-family: 'Roboto', sans-serif;
}

header{
  background-color: var(--color-coolwhite);
  width: 100%;
  padding: 30px;
  text-align: center;
  box-sizing: border-box;
}

header img{
  position: absolute;
  left: 30px;
}

.menu{
  font-size: 22px;
}

.menu a + a{
  margin-left: 32px;
}

.menu a{  
  position: relative;
  text-decoration: none;
  color: var(--color-medium-text);
}

.menu a.active {
  font-weight: bold;
  color: var(--color-3);
}

.menu a:hover{
  color: var(--color-3);
}

.menu a::after {
  content:"";
  width: 0%;
  height: 2px;
  background-color: var(--color-3);
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: width 200ms ease-in-out;
}

.menu a:hover::after {
  width: 100%;
}