{% extends "admin_layout.njk" %}

{% block content %}

<div class="admin-top-bar recipe-bar">
      <h1>Manage recipes</h1>

      {% if filtered %}
        <a href="/admin/recipes" class="filter-button"> All recipes </a>
      {% else %}
        <a href="/admin/recipes?filter=self" class="filter-button"> My recipes </a>
      {% endif %}

      <a href="/admin/recipes/create">New recipe</a>
</div>

<div class="recipe-grid admin">

  {% for recipe in recipes %}
    <div class="card admin" id="{{recipe.id}}">
      <div class="img-container">
        <div class="card-image"><img src="{{recipe.cardImage}}" alt="{{recipe.title}} - thumbnail"></div>
      </div>
      <div class="card-info admin">
        <p>{{recipe.title}}</p>
        <p class="author admin">by {{recipe.chef_name}}</p>
        <a href="/admin/recipes/{{recipe.id}}">View</a>
      </div>
    </div>
  {% endfor %}

</div>

{% endblock %}