{% extends "admin_layout.njk" %}

{% block content %}

<div class="admin-top-bar">
      <h1>Manage recipes</h1>
      <a href="/admin/recipes/create">New recipe</a>
</div>

<div class="recipe-grid admin">

  {% for recipe in recipes %}
    <div class="card admin" id="{{recipe.id}}">
      <div class="img-container">
        <div class="card-image" style="background-image: url({{recipe.image}})"></div>
      </div>
      <div class="card-info admin">
        <p>{{recipe.title}}</p>
        <p class="author admin">by {{recipe.chef_name}}</p>
        <a href="/admin/recipes/{{recipe.id}}">View</a>
      </div>
    </div>
  {% endfor %}

</div>

{% endblock %}