{% import "parts/recipe_body.njk" as recipe_body %}

{% extends "admin_layout.njk" %}

{% block content %}

<div class="full-recipe">

  <div class="admin-top-bar">
    <h1>Recipe: {{recipe.title}}</h1>
    {% if editable %}
      <a href="/admin/recipes/{{recipe.id}}/edit">Edit Recipe</a>
    {% endif %}
  </div>

  {{ recipe_body.main(recipe, recipe.files) }}

</div>

{% endblock %}