<!DOCTYPE html>
<html>
  <head>
    <title>Foodfy</title>
    <link rel="stylesheet" href="./src/styles.css">
  </head>

  <body>
    <div id="wrapper">
      <header>
        <a href="./index.html"><img src="./src/img/logo.png" alt="Foodfy Logo"></a>
        <nav>
          <a href="./about.html">About</a>
          <a href="./recipes.html">Recipes</a>
        </nav>
      </header>
      <main>
        <div class="recipe-list">

          <div class="card" id="burger">
            <img src="./src/img/burger.png" alt="Burger">
            <div class="card-info">
              <p>Triple bacon burger</p>
              <p class="author">by Jorge Relato</p>
            </div>
          </div>
          
          <div class="card" id="pizza">
            <img src="./src/img/pizza.png" alt="Pizza">
            <div class="card-info">
              <p>4 seasons pizza</p>
              <p class="author">by Fabiana Melo</p>
            </div>
          </div>
          
          <div class="card" id="espaguete">
            <img src="./src/img/espaguete.png" alt="Spaguetti">
            <div class="card-info">
              <p>Garlic spaguetti</p>
              <p class="author">by Júlia Kinoto</p>
            </div>
          </div>

          <div class="card" id="lasanha">
            <img src="./src/img/lasanha.png" alt="Lasanha">
            <div class="card-info">
              <p>Mac n' cheese Lasanha</p>
              <p class="author">by Juliano Vieira</p>
            </div>
          </div>
          
          <div class="card" id="doce">
            <img src="./src/img/doce.png" alt="Trufle">
            <div class="card-info">
              <p>Trufle bar</p>
              <p class="author">by Ricardo Golvea</p>
            </div>
          </div>
          
          <div class="card" id="asinhas">
            <img src="./src/img/asinhas.png" alt="Bufalo Wings">
            <div class="card-info">
              <p>Bufalo Wings</p>
              <p class="author">by Vania Steroski</p>
            </div>
          </div>

          <div class="card" id="burger">
            <img src="./src/img/burger.png" alt="Burger">
            <div class="card-info">
              <p>Triple bacon burger</p>
              <p class="author">by Jorge Relato</p>
            </div>
          </div>
          
          <div class="card" id="pizza">
            <img src="./src/img/pizza.png" alt="Pizza">
            <div class="card-info">
              <p>4 seasons pizza</p>
              <p class="author">by Fabiana Melo</p>
            </div>
          </div>
          
          <div class="card" id="espaguete">
            <img src="./src/img/espaguete.png" alt="Spaguetti">
            <div class="card-info">
              <p>Garlic spaguetti</p>
              <p class="author">by Júlia Kinoto</p>
            </div>
          </div>

          <div class="card" id="lasanha">
            <img src="./src/img/lasanha.png" alt="Lasanha">
            <div class="card-info">
              <p>Mac n' cheese Lasanha</p>
              <p class="author">by Juliano Vieira</p>
            </div>
          </div>
          
          <div class="card" id="doce">
            <img src="./src/img/doce.png" alt="Trufle">
            <div class="card-info">
              <p>Trufle bar</p>
              <p class="author">by Ricardo Golvea</p>
            </div>
          </div>
          
          <div class="card" id="asinhas">
            <img src="./src/img/asinhas.png" alt="Bufalo Wings">
            <div class="card-info">
              <p>Bufalo Wings</p>
              <p class="author">by Vania Steroski</p>
            </div>
          </div>

        </div>
      </main>
    </div>
    <footer>
      <p>All rights reserved for Foodfy</p>
    </footer>

    <div class="modal-overlay">
      <div class="modal">
        <div class="modal-buttons">   
          <i id="maximize-modal" class="material-icons">fullscreen</i>   
          <i id="close-modal" class="material-icons">close</i>
        </div>
        <div class="modal-content">
          <img id="modal-img" src="" alt="Burger">
          <p id='modal-title'></p>
          <p id="modal-author"></p>
        </div>
      </div>
    </div>  

    <script src="./src/scripts.js"></script>
  </body>
</html>