{% extends "admin-layout.njk" %}

{% block content %}

<main>
  <form class="recipe-form" method="POST" action="/admin/chefs">

    <div id="recipe-admin-header">
      <h1 class="editor">Register Chef</h1>
      <button type="submit">Save Chef</button>
    </div>

    {% include 'admin/chef_form.njk'%}

  </form>  
</main>

{% endblock %}