<div class="item">
  <div>Chef's Name</div>
  <div>
    <input 
      type="text" 
      name="name"
      value="{{chef.name}}"
    >
  </div>
</div> 

<div class="item">
  <div>Avatar url</div>
  <div>
    <input 
      type="url" 
      name="avatar_url"
      value="{{chef.avatar_url}}"
    >
  </div>
</div> 