{% extends "admin-layout.njk" %}

{% block content %}

<main>
  <h1 class="admin-title">Manage Recipes</h1>
  <div class="admin-recipe-list">

    {% for recipe in recipeList %}

      <div class="card" id="{{ loop.index0 }}-recipe-admin">
        <img src="{{recipe.image}}" alt="image {{recipe.title}}">
        <div class="card-info">
          <p>{{recipe.title}}</p>
          <p class="author">by {{recipe.author}}</p>
          <a href="/admin/recipes/{{ loop.index0 }}">View</a>
        </div>
      </div>

    {% endfor %}

  </div>
</main>

<script src="/scripts.js"></script>

{% endblock %}