{% extends "admin-layout.njk" %}

{% block content %}

<main id="full-recipe">
  <article>

    <div id="recipe-admin-header">
      <h1>Receita: {{recipe.title}}</h1>
      <a href="/admin/recipes/{{recipeIndex}}/edit">Edit Recipe</a>
    </div>

    <img src="{{recipe.image_banner}}" alt="image {{recipe.title}}">

    <h1>{{recipe.title}}</h1>
    <p class="author">by {{recipe.author}}</p>

    <div class="recipe-section">
      <div class="recipe-section-head">
        <h2>Ingredients</h2>
      </div>
      <div class="recipe-section-info active">
        <ul>
          {% for ingredient in recipe.ingredients %}
            <li>{{ingredient}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="recipe-section">
      <div class="recipe-section-head">
        <h2>How to make it</h2>
      </div>
      <div class="recipe-section-info active">
        <ul>
          {% for step in recipe.preparation %}
            <li>{{step}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="recipe-section">
      <div class="recipe-section-head">
        <h2>Aditional Info</h2>
      </div>
      <div class="recipe-section-info active">
        <p>{{recipe.information | striptags(true) | escape | nl2br }}</p>
      </div>
    </div>

  </article>
</main>

{% endblock %}