{% extends "layout.njk" %}

{% block content %}

<div class="full-chef">

    <div class="img-container chef">
        <div class="card-image">
          <img src="{{chef.avatar}}" alt="{{chef.name}} - avatar photo">
        </div>
    </div>

    <div class="chef-info">
      <h1>{{chef.name}}</h1>
      <p class="total-recipes">
        {{chef.total_recipes}} 
        {% if chef.total_recipes == 1 %} Recipe {% else %} Recipes {% endif %}
      </p>
    </div>
      
    <h2>Recipes</h2>

    <div class="recipe-grid">

      {% for recipe in recipes %}

        <div class="card" id="{{recipe.id}}">
          <div class="img-container">
            <div class="card-image">
              <div class="card-image"><img src="{{recipe.cardImage}}" alt="{{recipe.title}} - thumbnail"></div>
            </div>
          </div>
          <div class="card-info">
            <p>{{recipe.title}}</p>
            <p class="author">by {{chef.name}}</p>
          </div>
        </div>

      {% endfor %}
    
    </div>

</div>

{% endblock %}