{% extends "layout.njk" %}

{% block content %}

<div id="index-banner">
  <div class="info">
    <h1>The best recipes</h1>
    <p>
      Learn to build the best plates with recipes created
      from professionals all around the world.
    </p>
  </div>
  <div class="image">
    <img src="/img/chef.png" alt="Chef Ilustration">
  </div>
</div>

<h2 class="section-title">Most viewed</h2>

<div class="recipe-grid">

  {% for recipe in recipes %}
    <div class="card" id="{{recipe.id}}">
      <div class="img-container">
        <div class="card-image" style="background-image: url({{recipe.image}})"></div>
      </div>
      <div class="card-info">
        <p>{{recipe.title}}</p>
        <p class="author">by Victor Alvarenga</p>
      </div>
    </div>
  {% endfor %}

</div>

{% endblock %}