{% extends "layout.njk" %}

{% block content %}

{% if filter %} 

Searching for "{{filter}}"

{% endif %}

<div class="recipes-content">

  <div class="recipe-grid">

    {% for recipe in recipes %}
      <div class="card" id="{{recipe.id}}">
        <div class="img-container">
          <div class="card-image" style="background-image: url({{recipe.image}})"></div>
        </div>
        <div class="card-info">
          <p>{{recipe.title}}</p>
          <p class="author">by {{recipe.chef_name}}</p>
        </div>
      </div>
    {% endfor %}

  </div>

  <div
    class="pagination"
    data-page={{pagination.page}}
    data-total={{pagination.total}}
    data-filter={{filter}}
  ></div>

</div>


{% endblock %}