{% import "parts/recipe_body.njk" as recipe_body %}

{% extends "layout.njk" %}

{% block content %}

<div class="full-recipe">
  <article>
    
    {{ recipe_body.main(recipe, files) }}

  </article>
</div>

{% endblock %}