{% extends "layout.njk" %}

{% block content %}

<div class="recipe-grid">

  <div class="card" id="Receita 1">
    <div class="img-container">
      <div class="card-image" style="background-image: url(https://images-gmi-pmc.edge-generalmills.com/b194a6a7-da60-4ad4-bc86-6e697db2fcf2.jpg)"></div>
    </div>
    <div class="card-info">
      <p>Teste de Espagueti</p>
      <p class="author">by Victor Alvarenga</p>
    </div>
  </div>

  <div class="card" id="Receita 1">
    <div class="img-container">
      <div class="card-image" style="background-image: url(https://images-gmi-pmc.edge-generalmills.com/b194a6a7-da60-4ad4-bc86-6e697db2fcf2.jpg)"></div>
    </div>
    <div class="card-info">
      <p>Teste de Espagueti</p>
      <p class="author">by Victor Alvarenga</p>
    </div>
  </div>

  <div class="card" id="Receita 1">
    <div class="img-container">
      <div class="card-image" style="background-image: url(https://images-gmi-pmc.edge-generalmills.com/b194a6a7-da60-4ad4-bc86-6e697db2fcf2.jpg)"></div>
    </div>
    <div class="card-info">
      <p>Teste de Espagueti</p>
      <p class="author">by Victor Alvarenga</p>
    </div>
  </div>

    <div class="card" id="Receita 1">
    <div class="img-container">
      <div class="card-image" style="background-image: url(https://images-gmi-pmc.edge-generalmills.com/b194a6a7-da60-4ad4-bc86-6e697db2fcf2.jpg)"></div>
    </div>
    <div class="card-info">
      <p>Teste de Espagueti</p>
      <p class="author">by Victor Alvarenga</p>
    </div>
  </div>

</div>

{% endblock %}